<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.drishti.drishti17">

    <meta-data
        android:name="com.google.android.gms.vision.DEPENDENCIES"
        android:value="barcode" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.Login"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" />
        <activity android:name=".ui.QRactivity" />
        <activity
            android:name=".ui.Home"
            android:label="@string/app_name"
            android:theme="@style/Home" />
        <activity
            android:name=".ui.TempHome"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.NavigationActivity"
            android:label="@string/title_activity_navigation"
            android:theme="@style/Navigation" />
        <activity
            android:name=".ui.Events"
            android:label="@string/title_activity_events"
            android:theme="@style/Events" />
        <activity
            android:name=".ui.Schedule"
            android:label="@string/title_activity_schedule"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.Expo"
            android:label="@string/title_activity_expo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.EventDetail"
            android:label="@string/title_activity_event_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.Profile"
            android:label="Prof"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>